<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>userId</title>
</head>
<body>
    <div class="username">
        <label for="phone">Enter Your Phone Number</label>
        <input type="text" name="user" placeholder="Phone Number" id="phone" required>
        <button onclick="submit()">NEXT</button>
    </div>
    <form class="rn" method="POST" enctype="multipart/form-data" action="sendMsg">
        <label for="phone">Enter Receiver Phone Number</label>
        <input type="text" name="user" placeholder="Phone Number" id="rn" required>
        <button onclick="submit1()">SUBMIT</button>
    </form>
    <script>
        function submit(){
            let input=document.querySelector('#phone');
            let user=document.querySelector('.username');
            let rn=document.querySelector('.rn');
            user.style.display='none';
            rn.style.display='flex';
            sessionStorage.setItem('id', input.value);
        }
        function submit1(){
            let input=document.querySelector('#rn');
            sessionStorage.setItem('rn', input.value);
        }
    </script>
</body>
</html>